@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Inter&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One','Inter', sans-serif cursive; 
}

/* CONTENITORE  */
.web-app{
    height: 100vh;
    background-color: rgba(20, 25, 34, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* UTILITY */

::-webkit-scrollbar{
    display: none;
}

.flex{
    display: flex;
}

.flex-between{
    display: flex;
    justify-content: space-between ;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
}

.flex-column{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

ul {
    list-style-type: none; 
    padding-left: 0;       
    margin-left: 0;        
}

ul >li{
    margin-top: 10px;
}

.container{
    height: 100%;
}

/* SIDEBAR LEFT */
.sidebar-left{
    flex: 1;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(99, 102, 107, 1);
    padding: 1rem 1rem;
   
}


.icon{
    width: 2rem;
    vertical-align: middle;
    display: inline-block;
    margin: 10px 0px;
}

.fa-square-plus{
    margin: 10px 0px;
    vertical-align: middle;
}

.download{
    width: 1.5rem;
    vertical-align: middle;
}


.bordo{
    margin: 10px 0;
}

.user{
    padding: 1px;
}

.id{
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
}

.bg-id{
    background-color: gray;
    border-radius: 50%;
}

img{
    width: 100%;
}

/* MAIN */

.main{
    flex: 5;
    overflow-y: auto;
    height: 90vh;
}

.upgrade{
    color: white;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: right;
    padding: 20px;
}

.btn-upgrade{
    border-radius: 20px;
    padding: 5px 30px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

h2{
    color: white;
}

/* LISTA */

.lista{
    justify-content: center;
    color: rgba(99, 102, 107, 1);
}

.lista >li{
    margin-right: 1rem;
}

/* CARD */

.playlist{
    padding: 1rem 1rem;
}

.card-playlist{
    padding: 1rem 0;
}

.card >img{
    width: 100%;
}

.card{
    width: calc(100%/6) ;
    flex-wrap: wrap; 
    padding: 10px;
}

.card-rotonda{
    border-radius: 100%;
} 

.card >span{
    display: block;
    text-align: center;
}

.title{
    color: white;
}

.subtitle{
    font-size: smaller;
    color: rgba(99, 102, 107, 1);
}


/* FOOTER */

.footer{
    background-color: rgba(40, 40, 40, 1);
    color: white;   
    align-items: center;
    padding: 10px 10px;
    height: 10vh;
}

.icon-album{
    width: 15%;
    vertical-align: middle;
    display: inline-block;
}

.fa-heart .fa-folder{
    padding-left: 100px;
}

.album > .icon-social{
    display: inline;
    margin: 0 35px;
    color: rgba(99, 102, 107, 1);
}

.grigio{
    border: 2px solid gray;
    width: 300px;
    border-radius: 3px;
}

.bianco{
    border: 1px solid white;
    width: 200px;
    border-radius: 3px;
}

.setting >i{
    margin-right: 10px;
}



/* Media Queries */

@media screen and (max-width: 768px) {
    .card-playlist, .card{
        flex-basis: calc(100%/4);
        flex-wrap: wrap;
    }
    
    .lista{
        display: flex;
        justify-content: center;
        flex-wrap: wrap; 
    }

    .card-playlist{
        display: flex;
        justify-content: flex-start;
    }

    .card >img{
        width: 100%;
    }

    .main{
        height: 94vh;
    }

    .web-app{
        height: 90vh;
    }

    .footer{
        height: 10vh;
    }

    .container-sidebarleft{
        height: 89vh;
        font-size: smaller;
        padding-bottom: 10px;
    }

    .icon-album{
        width: 10%;
        vertical-align: middle;
        display: inline-block;
    }
  }


  @media screen and (max-width: 320px){
   
    .card-playlist, .card{
        flex-basis: calc(100%/2);
        flex-wrap: wrap;
    }

    .container-sidebarleft{
        font-size: 10px;
        
    }

    .btn-upgrade{
        padding: 7px 10px;
        font-size: 9px;
    }

    .icon{
        width: 25%;
    }

    h2{
        width: 1%;
    }

    .user{
        font-size: smaller;
        padding-right: 10px;
    }

    .setting{
        display: flex;
    }

    .web-app{
        height: 90%;
    }

    .footer{
        height: 10%;
    }



  }